*{
    margin:0;
    padding:0;
    text-decoration: none;

}



.model{
    margin-top: 20px;
}

.dataNotAvailable{
    margin-top: 20px;
    color: #a94442;
}

.jumbotron .container{

    text-align: center;
    font-weight: bold;
}


.pageNmbr.selected{
    background-color: #eee;
    color:#a94442;
    font-weight: bold;
}

.pageNmbr.unselected{
    background-color: white;
}


.filterPanel{
    margin-top: 40px;
}


.filterPanel .input-group-addon{
    color: #a94442;
    font-weight: bold;
}


.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color:#a94442;
}




.data th{
    position: relative;
}

.data th a{
    color: #337ab7;
}

.data th a:focus, .data th a:hover{
    text-decoration: none;
}

.data th a.active{
    color:#a94442;
}

.sort_icon{

    display: inline-block;
    position: absolute;
    top: 11px;
    margin-left: 8px;
}

.sort_icon span{
    position: absolute;
    color:#a94442;
}